@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
.heading
{
    /* color: black; */
    display: block;
    margin: auto;
    font-size: 1.5rem;
    padding: 1rem;
    font-family: Impact, sans-serif;
}
.input_values
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.input_values input
{
   background-color: black;
   color: white;
   border: 1.75px solid white;
   /* margin: 1rem; */
   margin-top: 1rem;
   margin-bottom: 1rem;
   width: 75%;
   height: 4vh;
}
.input_values input::placeholder  {
   padding: 0.5rem;
   /* padding-top: 1rem;
   padding-bottom: 1rem; */
    color: rgba(255, 255, 255, 0.664);
  }
  #contact
  {
      background-color: #2a85cd;
      color: white;
      border-radius: 5px;
      width: 30%;
      font-size: 1rem;
      margin: 1rem;
      padding: 0.5rem;
  }
  #contact:hover
  {
      cursor: pointer;
  }
  #content
  {
      display: flex;
      flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 1.5rem;
  }
  #content div{
      margin: 1rem;
      font-size: 1.5rem;
  }
  .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	/* background-color: rgba(255,255,255,0.2); */
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
 .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
#last
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:  space-between;
    border-top: 3px solid white;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-top: 1.25rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
#last div
{
    font-size: large;
}
.f1
{
    margin: 2rem;
}
.f2
{
    margin: 1rem;
}
#font
{
    color: white;
    font-weight: bold;
    font-size: x-large;
}
#content1 div
{
color: rgba(255, 255, 255, 0.753);
}